<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964878502977-6nn8g1232o1mk9h2dv7a211cidfseti5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964878502977-6nn8g1232o1mk9h2dv7a211cidfseti5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>964878502977-q2sjidskoqvqk78p48bn7oopgdlfbi8p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnEC7lCGieW0Dz1_PPiZx7rJg7EahLcPI</string>
	<key>GCM_SENDER_ID</key>
	<string>964878502977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.fizjo.fizjo</string>
	<key>PROJECT_ID</key>
	<string>minutesforspine</string>
	<key>STORAGE_BUCKET</key>
	<string>minutesforspine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964878502977:ios:b89ef2b599f09f15fb8ac0</string>
</dict>
</plist>